name: Linux

on: [push]

jobs:
  ci:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php:
          - '8.5'
          - '8.5-zts'
          - '8.4'
          - '8.4-zts'
          - '8.3'
          - '8.3-zts'
          - '8.2'
          - '8.2-zts'
          - '8.1'
          - '8.1-zts'
        library:
          - ''
          - 'edge'
        image: [php]
        include:
          - php: '8.4'
            image: php
            library: 'system'

    if: contains(github.event.head_commit.message, 'ci skip') == false

    container:
      image: ${{ matrix.image }}:${{ matrix.php }}-alpine

    steps:
      - name: Prepare required command
        run: |
          apk upgrade --no-cache
          apk add --no-cache autoconf gcc git libtool make musl-dev

      - name: adding github workspace as safe directory
        run: git config --global --add safe.directory $GITHUB_WORKSPACE
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Checkout submodules
        run: |
          git submodule update --init --recursive
        if: ${{ ! matrix.library }}
      - name: Install dependency library
        run: |
          apk add --no-cache -X http://dl-cdn.alpinelinux.org/alpine/edge/community bzip3-libs bzip3-dev
        if: ${{ matrix.library == 'edge' }}
      - name: Install dependency library
        run: |
          apk add --no-cache bzip3-libs bzip3-dev
        if: ${{ matrix.library == 'system' }}

      - name: Build
        run: |
          phpize
          ./configure
          make
        if: ${{ ! matrix.library }}
      - name: Build with library
        run: |
          phpize
          ./configure --with-libbzip3
          make
        if: ${{ matrix.library }}

      - name: Test
        run: |
          make test TESTS="--show-diff" | tee test-output.txt
          grep 'TEST SUMMARY$' test-output.txt > /dev/null && exit 1 || exit 0
        env:
          REPORT_EXIT_STATUS: 1
          NO_INTERACTION: 1
      - name: Failure Test
        run: |
          for FILE in $(find ./tests -name '*.diff'); do
            echo echo $FILE
            cat $FILE
            echo
          done
        if: ${{ failure() }}
